  <header>
    <div class="container">
      <div class="header-left">
        <p class="logo">BizClue</p>
      </div>
      <div class="header-menu">
        <span class="fa fa-bars menu-icon"></span>
      </div>
      <div class="header-right">
        <ul>
          <li><a href="#">会社概要</a></li>
          <li><a href="#">サービス</a> </li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <div class="bg-black">
    <div class="container main_text">
        <h1>副業仲間を見つけよう</h1>
        <p>作りたいものを作りたい人だけで作る<br>デザイナー / エンジニア / プロデューサーがすぐ見つかる</p>
    </div>
    <div class="signup-btn">

      <%= link_to'users/sign_in', class: "btn btn-lg btn-success" do %>
          <i class="fa fa-envelope"></i> メールで登録
      <% end %>



      <span class="btn-space"></span>
      <%= link_to '#', class: "btn btn-lg btn-primary" do %>
          <i class="fa fa-twitter"></i> Twitterで登録
      <% end %>
    </div>
  </main>
