<!DOCTYPE html>
<html lang = ja>
<head>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>ミニマルweb</title>
  <meta name="discription" content="ミニマルwebの公式ホームページです。さまざまな商品を扱っているのでみてください。">
</head>
<body>

    <%= yield %>
</body>
</html>
